* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin-bottom: 100px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: 62.5%;
}

.btn-default {
  color: #d800ff;
  text-decoration: none;
  font-size: 40px;
}

.btn-default:hover {
  color: #82029a;
}

.btn-square {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  width: 252px;
  height: 81px;
  background-color: #d800ff;
  text-align: center;
  line-height: 81px;
}

.btn-square:hover {
  background-color: #82029a;
}

.btn-border-radius {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  width: 252px;
  height: 81px;
  background-color: #d800ff;
  text-align: center;
  line-height: 81px;
  border-radius: 20px;
}

.btn-border-radius:hover {
  background-color: #82029a;
}

.btn-box-shadow {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  width: 252px;
  height: 81px;
  background-color: #d800ff;
  text-align: center;
  line-height: 81px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px black;
}

.btn-box-shadow:hover {
  background-color: #82029a;
}

.btn-linear-gradient {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  width: 252px;
  height: 81px;
  background-color: #d800ff;
  text-align: center;
  line-height: 81px;
  border-radius: 40px;
  box-shadow: 0px 3px 6px black;
  background: linear-gradient(#d800ff, #82029a);
}

.btn-linear-gradient:hover {
  background-color: #82029a;
  box-shadow: 0px -3px 6px black;
  background: linear-gradient(#82029a, #d800ff);
}
